body
{
    background-color: white;
}

h1
{
    font-weight: normal;
}

table
{
    background-color: lightgrey;
    border-spacing: 10px;
}

td
{
    width:300px;
    color: grey;
}

span
{
    color: darkred;
}

input[type=radio]:checked::after
{
    width: 7.5px;
    height: 7.5px;
    border-radius: 25px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: white;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 5px solid darkorange;
}

#piros
{
    border: darkred ridge 1px;
}

#number
{
    width: 125px;
}

#nyelv
{
    width: 176px;
}

div
{
    border-top: dotted darkgray 1px;
    border-bottom: dotted darkgray 1px;
    padding: 15px;
}

img, p
{
    position: relative;
    display: inline;
}

img
{float: left;}

#submit
{
    background-color: darkorange;
    color: white;
    border: none;
    height: 2em;
}